
@model IList<Menu>
<!--Menu-->
<section class="navbar main-menu">
	<div class="navbar-inner main-menu">
		<a href="index.html" class="logo pull-left"><img src="~/themes/images/logo.png" class="site_logo" alt=""></a>

		<nav id="menu" class="pull-right">
			<ul>
			 @foreach (var menu in Model.Where(m => m.Levels == 1).OrderBy(n => n.MenuOrder))
              {
				var Pid = menu.MenuID;
				var Smenu = Model.Where(p => p.ParentID == Pid).OrderBy(p => p.MenuOrder).ToList();
				
				@if (Smenu.Count == 0)
				{
					
						<li><a href="./products.html">@menu.MenuName</a></li>		
				}
				else
				{
						<li><a href="./products.html">@menu.MenuName</a>
							<ul>
								@foreach(var smn in Smenu){

									<li><a href="./products.html">@smn.MenuName</a></li>	
								}
							</ul>
						</li>
				}	
			  }
			  </ul>
		</nav>
	</div>
</section>
<!--slide-->
<section class="homepage-slider" id="home-slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="~/themes/images/carousel/banner-1.jpg" alt="" />
			</li>
			<li>
				<img src="~/themes/images/carousel/banner-2.jpg" alt="" />
				<div class="intro">
					<h1>Mid season sale</h1>
					<p><span>Up to 50% Off</span></p>
					<p><span>On selected items online and in stores</span></p>
				</div>
			</li>
		</ul>
	</div>
</section>
<!--end slides-->
<!--End menu-->
